:root {
	/* COLORS */
	--Gold: #d5966c;
	--DarkGrey: #444444;
	--White: #ffffff;
	--AlmostBlack: #151515;

	/* TYPOGRAPHY */
	/* Font Family */
	--ff-big-shoulders: "Big Shoulders", sans-serif;
	--ff-outfit: "Outfit", sans-serif;

	/* Font Sizes */
	--fs-heading-xl: 6rem; /* 96px */
	--fs-heading-l: 4.375rem; /* 70px */
	--fs-heading-m: 3.75rem; /* 60px */
	--fs-heading-s: 2.25rem; /* 36px */
	--fs-heading-xs: 1.25rem; /* 20px */
	--fs-body-m: 1.375rem; /* 22px */
	--fs-body-s: 1.125rem; /* 18px */

	/* Line Height */
	--lh-heading-xl: 5.5rem; /* 88px */
	--lh-heading-l: 4.375rem; /* 70px */
	--lh-heading-m: 3.4375rem; /* 55px */
	--lh-heading-s: 2.25rem; /* 36px */
	--lh-body-m: 2rem; /* 32px */
	--lh-body-s: 1.75rem; /* 28px */

	/* Font Weight */
	--fw-heading: 900;
	--fw-body: 300;

	/* spacing */
	--space-2xs: 0.25rem; /* 4px */
	--space-xs: 0.65rem; /* 8px */
	--space-sm: 1rem; /* 16px */
	--space-md: 1.5rem; /* 24px */
	--space-lg: 2rem; /* 32px */
	--space-xl: 4rem; /* 64px */

	/* border-radius */
	--radius-sm: 0.5rem; /* 8px */
	--radius-md: 0.75rem; /* 12px */
	--radius-full: 999px; /* 999px */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-outfit);
	font-weight: var(--fw-body);
	font-size: var(--fs-body-s);
	line-height: var(--lh-body-s);
	font-optical-sizing: auto;
	font-style: normal;
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-big-shoulders);
	font-weight: var(--fw-heading);
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.hero-items {
	margin-inline: var(--space-sm);
	margin-block: var(--space-lg);
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.hero-image {
	width: 100%;
	height: 100%;
}

.title {
	font-size: var(--fs-heading-m);
	line-height: var(--lh-heading-m);
}

.cta {
	display: flex;
	flex-direction: column;
	gap: var(--space-lg);
}

.cta-btn {
	width: 260px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	padding: 0;
}

.cta-text {
	background-color: var(--AlmostBlack);
	color: var(--White);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-big-shoulders);
	font-weight: var(--fw-heading);
	font-size: var(--fs-heading-xs);
	letter-spacing: 3.64px;
	text-transform: uppercase;
}

.cta-img {
	padding: var(--space-md);
	background-color: var(--Gold);
}

.cta-btn:hover .cta-text {
	background-color: var(--Gold);
}

.cta-btn:hover .cta-img {
	background-color: var(--AlmostBlack);
}

.main-home-section {
	margin-block: 120px;
	padding-inline: 1rem;
}

.about-section {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-bottom: 32px;
}

.about-img {
	width: 100%;
	height: 100%;
}

.about-details {
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.about-details h2 {
	font-size: 50px;
	line-height: 45px;
}

.gallery-section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.gallery-img {
	width: 100%;
	height: 100%;
}

.second-block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.remarks {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-inline: 24px;
	padding-block: 48px;
	background-color: var(--AlmostBlack);
	color: var(--White);
}

.remarks h3 {
	font-size: 50px;
	line-height: 45px;
}

.home-footer {
	background-color: var(--AlmostBlack);
	color: var(--White);
	display: flex;
	flex-direction: column;
	gap: 38px;
	padding-block: 48px;
	padding-inline: 32px;
}

.home-footer h4 {
	font-size: 24px;
	line-height: 1.5rem;
}

.home-footer p {
	font-size: 16px;
	line-height: 26px;
}

.home-footer .socials {
	display: flex;
	gap: 20px;
}

.home-footer .socials img:hover {
	cursor: pointer;
	opacity: 70%;
}

/* LOCATION PAGE */
.main-map {
	display: flex;
}
.map-img {
	width: 100%;
	height: 100%;
}

.back-btn {
	width: 260px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	padding: 0;
	position: fixed;
	left: 0px;
	top: 0px;
}

.back-text {
	background-color: var(--AlmostBlack);
	color: var(--White);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-big-shoulders);
	font-weight: var(--fw-heading);
	font-size: var(--fs-heading-xs);
	letter-spacing: 3.64px;
	text-transform: uppercase;
}
.back-img {
	padding: var(--space-md);
	background-color: var(--Gold);
}

.back-btn:hover .back-text {
	background-color: var(--Gold);
}

.back-btn:hover .back-img {
	background-color: var(--AlmostBlack);
}

.main-location-details {
	padding-block: 48px;
	padding-inline: 1rem;
	background-color: var(--AlmostBlack);
	color: var(--White);
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.main-location-details h2 {
	font-size: 50px;
	line-height: 45px;
	margin-bottom: 48px;
}

.main-location-details h3 {
	font-size: 32px;
	line-height: 32px;
	color: var(--Gold);
}

.main-location-details div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

ul {
	list-style: none;
}

.location-footer {
	background-color: var(--Gold);
	color: var(--AlmostBlack);
	display: flex;
	flex-direction: column;
	gap: 38px;
	padding-block: 48px;
	padding-inline: 32px;
}

.location-footer h4 {
	font-size: 24px;
	line-height: 1.5rem;
}

.location-footer p {
	font-size: 16px;
	line-height: 26px;
}

.location-footer .socials {
	display: flex;
	gap: 20px;
}

.location-footer .socials img {
	width: 20px;
	height: 20px;
}

.location-footer .socials img:hover {
	cursor: pointer;
	opacity: 70%;
}

/* TABLET VIEW */
@media (min-width: 768px) {
	/* Home page */
	.hero-image {
		max-height: 700px;
		width: 56%;
	}

	.hero-items {
		position: absolute;
		top: 145px;
		left: 48%;
	}

	.cta p {
		max-width: 339px;
	}

	.main-home-section {
		padding-inline: 40px;
	}

	.about-section {
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 68px;
		margin-bottom: 12px;
	}

	.about-img {
		max-height: 400px;
	}

	.about-details {
		gap: 24px;
		margin-block: 36px;
		max-width: 223px;
	}

	.gallery-section {
		flex-direction: row;
		width: 100%;
		gap: 12px;
		max-height: 720px;
	}

	.second-block {
		gap: 12px;
	}

	.second-block {
		max-width: 280px;
	}

	.second-block img {
		height: 100%;
	}

	.remarks {
		gap: 24px;
		padding-inline: 28px;
		padding-block: 80px;
	}

	.remarks p {
		max-width: 223px;
	}

	.home-footer {
		flex-direction: row;
		padding-block: 56px;
		padding-inline: 40px;
		justify-content: space-between;
	}

	.home-footer p {
		max-width: 281px;
	}

	.home-footer .socials img {
		width: 20px;
		height: 20px;
	}

	/* Location page */
	.back-btn {
		left: 48px;
	}

	.main-location-details {
		padding-block: 88px;
		padding-inline: 40px;
		flex-direction: row;
		gap: 68px;
	}

	.main-location-details h2 {
		font-size: 55px;
		line-height: 50px;
	}

	.location-footer {
		flex-direction: row;
		padding-block: 56px;
		padding-inline: 40px;
		justify-content: space-between;
	}

	.location-footer p {
		max-width: 281px;
	}
}

/* DESKTOP VIEW */
@media (min-width: 1024px) {
	/* Home page */

	.hero-section {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		height: 800px;
	}

	.hero-image {
		width: 100%;
		min-height: 100%;
	}

	.black-bg {
		background-color: var(--AlmostBlack);
	}

	.hero-items {
		position: absolute;
		top: 24%;
		left: 152px;
		display: flex;
		flex-direction: row;
		gap: 148px;
	}

	.title {
		font-size: var(--fs-heading-xl);
		line-height: var(--lh-heading-xl);
		width: 514px;
		color: white;
		mix-blend-mode: difference;
	}

	.cta {
		gap: 64px;
	}

	.cta p {
		min-width: 350px;
		font-size: 22px;
		line-height: 32px;
	}

	.main-home-section {
		padding-inline: 164px;
	}

	.about-section {
		margin-bottom: 32px;
	}

	.about-details {
		gap: 32px;
		margin-block: 60px;
		max-width: 350px;
	}

	.about-details h2 {
		font-size: 60px;
		line-height: 60px;
	}

	.about-details p {
		font-size: 22px;
		line-height: 32px;
	}

	.gallery-section {
		gap: 32px;
		overflow: hidden;
		/* max-height: 1000px; */
	}

	.second-block {
		max-width: 445px;
		gap: 32px;
	}

	.remarks {
		gap: 32px;
		padding-block: 64px;
		padding-inline: 40px;
	}

	.remarks h3 {
		font-size: 60px;
		line-height: 60px;
	}

	.remarks p {
		max-width: 350px;
		font-size: 22px;
		line-height: 32px;
	}

	.home-footer {
		padding-block: 80px;
		padding-inline: 156px;
	}

	.home-footer p {
		max-width: 430px;
		font-size: 18px;
		line-height: 28px;
	}

	/* Location page */
	.back-btn {
		left: 156px;
	}

	.main-location-details {
		padding-block: 104px;
		padding-inline: 154px;
		flex-direction: row;
		gap: 220px;
	}

	.main-location-details h2 {
		font-size: 70px;
		line-height: 70px;
	}

	.main-location-details h3 {
		font-size: 36px;
		line-height: 36px;
	}

	.main-location-details p,
	ul {
		font-size: 22px;
		line-height: 32px;
	}

	.location-footer {
		flex-direction: row;
		padding-block: 80px;
		padding-inline: 156px;
		justify-content: space-between;
	}

	.location-footer p {
		max-width: 430px;
		font-size: 18px;
		line-height: 28px;
	}

	/* Home page */
}
